body {
  color: floralwhite;
  text-align: center;
  background-image: url("bgredrosepattern.gif");
  
}
p {
  text-align: center;
  color: floralwhite;
}
h1 {
  color: floralwhite;
  font-weight: bold;
}
