body {
  text-align: center;
  background-image: url("spac006.gif");
  background-color: floralwhite;
}
p {
  color: white;
}
h1 {
  color: white;
  font-weight: bold;
}
h2 {
  color: white;
  font-weight: bold;
}
