header {
  border-width: 10px;
  border-style: outset;
  background-color: cadetblue;
  padding: 10px;
  text-align: center;
  font-size: 35px;
  color: #000000;
}

.nav {
  background-color: rgb(230, 233, 255);
  border-style: outset;
  border-width: 5px;
  padding: 10px;
}

body {
  text-align: center;
  background-image: linear-gradient(to right, rgb(173, 216, 230), rgb(240,248,255));
}

ul {
  text-decoration:line-through
    background-image: linear-gradient(to right, rgb(240,248,255), aliceblue);
}
p {
  text-align: center;
  color: black;
  background-image: linear-gradient(to right, lightblue, aliceblue);
}

h2 {
  text-align: center;
}

h1 {
  font-weight: bold;
  text-align:center;
}

img {
  float:inherit;
}
h6 {
  float: right;
}
p {
  text-align: center;
  color: black;
  background-image: linear-gradient(to right, lightblue, aliceblue);
}

h2 {
  text-align: center;
}

h1 {
  background-color:#8c8cd1
  font-weight: bold;
  text-align:center;
}
img {
  float:inherit;
}
h6 {
  float: right;
}
topnav {
  text-align: center;
  overflow: hidden;
  background-color: #333;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: floralwhite;
}
